.intro {
    height: 100%;
  }
  
  .gradient-custom {
    /* fallback for old browsers */
    background: #fa709a;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(250, 112, 154, 1), rgba(254, 225, 64, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(250, 112, 154, 1), rgba(254, 225, 64, 1))
  }

  .btn btn-primary btn-lg{
     margin-bottom: 30px;
  }

  .card{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    
  }