.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 15rem;
  height: 100%;
  padding: 0;
      padding-bottom: 0px;
  padding-bottom: 3.75rem;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #2c2f34;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
}

.side-nav ul {
  padding-left: 0;
  list-style: none;
  list-style-type: none;
  list-style-type: none;
  max-height: 100vh;
  list-style: none;
  list-style-type: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}

.side-nav .collapsible a {
  height: 36px;
  font-size: .8rem;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}
.side-nav a {
  display: block;
  height: 56px;
  padding-left: 20px;
  font-size: 1rem;
  line-height: 56px;
}

.side-nav .collapsible a {
  height: 36px;
  font-size: .8rem;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}

.side-nav .collapsible-body a {
  height: 36px;
  padding-left: 47px;
  line-height: 36px;
  background-color: rgba(0, 0, 0, 0.15);
}

.navbar .nav-item.avatar .dropdown-toggle img {
  height: 35px;
}

#navbarDropdownMenuLink{
white-space: unset;
}

.collapsible-body{
margin-top:-16px;
}

#content {
  margin-left: 12rem;
}



.side-nav {
  width: 12.05rem;
  z-index: 1020;
  top: 3.5rem;
  -webkit-transform: unset;
  transform: unset;

}

.navbar {
  margin-left: 12rem;
}

.navbar-toggler {
  margin: 1px 0;
}

.nav-item {
  height: 37px;
}

.nosd {
  box-shadow: none !important;
  background-color: rgba(39, 1, 252);
  border-right: 1px solid #2701fcbd;
}

.side-nav .collapsible a {
  color: #000;
}

.side-nav .collapsible > li a.collapsible-header:hover {
  background-color: rgba(39, 1, 252, 0.74);
}

.side-nav .collapsible > li a.collapsible-header.active {
  background-color: rgba(39, 1, 252, 0.74);
  color: white;
}

/************* Cube *******************/
.headerdiv {
  position: relative;
}

.cubed {
  top: 2px;
  left: 3px;
  position: absolute;
  -webkit-perspective: 160px;
  -moz-perspective: 160px;
  -o-perspective: 160px;
  perspective: 160px;
}

.chw,
.cubed {
  width: 50px;
  height: 50px;
}

.chw{
border:1px solid white;
border-radius:10px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px);
  -moz-transform: translateZ(-100px);
  -o-transform: translateZ(-100px);
  transform: translateZ(-100px);
}

#cube.spinning {
  -webkit-animation: spinCubeWebkit 8s infinite ease-in-out;
  -moz-animation: spinCubeMoz 8s infinite ease-in-out;
  -o-animation: spinCubeO 8s infinite ease-in-out;
  animation: spinCube 8s infinite ease-in-out;
}

#cube figure {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px #fff;
  color: white;
  text-align: center;
  line-height: 1;
}

#cube.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

#cube .front,
#cube .back,
#cube .right,
#cube .left,
#cube .top,
#cube .bottom {
  background: hsl(0, 0%, 100%);
}

#cube .front {
  -webkit-transform: translateZ(25px);
  -moz-transform: translateZ(25px);
  -o-transform: translateZ(25px);
  transform: translateZ(25px);
}

#cube .back {
  -webkit-transform: rotateX(-180deg) translateZ(25px);
  -moz-transform: rotateX(-180deg) translateZ(25px);
  -o-transform: rotateX(-180deg) translateZ(25px);
  transform: rotateX(-180deg) translateZ(25px);
}

#cube .right {
  -webkit-transform: rotateY(90deg) translateZ(25px);
  -moz-transform: rotateY(90deg) translateZ(25px);
  -o-transform: rotateY(90deg) translateZ(25px);
  transform: rotateY(90deg) translateZ(25px);
}

#cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(25px);
  -moz-transform: rotateY(-90deg) translateZ(25px);
  -o-transform: rotateY(-90deg) translateZ(25px);
  transform: rotateY(-90deg) translateZ(25px);
}

#cube .top {
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -moz-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
}

#cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(25px);
  -moz-transform: rotateX(-90deg) translateZ(25px);
  -o-transform: rotateX(-90deg) translateZ(25px);
  transform: rotateX(-90deg) translateZ(25px);
}

/************************** Cube End ****************************/

.mabalogo {
  width: 123px;
  margin-left: 3.6rem;
  margin-top: -3px;
}

.logodiv {
  height: 3.5rem;
  border-bottom: 2px solid #2701fcbd;
  width: 12rem;
  background-color: white;
}

.side-nav .collapsible a.active, .side-nav .collapsible a:hover {
  border-radius: 0px;
}

.side-nav .collapsible > li {
  border-radius: 0px;
}
.side-nav ul li {
  padding: 0 4px;
}

.custom-scrollbar {
  margin-top: -10px;
}

.custom-scrollbar li ul li a.active {
  box-shadow: 0 15px 5px -10px rgba(0, 0, 0, 0.25);
}

.collapsible-body ul li {
  margin: 0px 0px 0px 10px;
  border-left: 1px solid rgb(165, 165, 165);
  padding: 0;
}

.collapsible-body ul li a.active {
  background: #00000026;
  color: #000000;
  box-shadow: none !important;
}

.side-nav .collapsible-body a {
  background-color: #ffffff00;
  padding-left: 20px;
}

.mainmenu > a:hover,.mainmenu > a:active,.mainmenu > a:focus{
  background-color: #2701fcbd !important;
  color: white !important;
}

.collapsible li.actives>a{
  background-color: #2701fcbd;
  color: white;
  box-shadow: 0 15px 5px -10px rgba(0, 0, 0, 0.25);
}

.collapsible li {
  margin: 10px 0;
}

.dropdown .dropdown-menu.dropdown-default .dropdown-item:hover, .dropdown .dropdown-menu.dropdown-default .dropdown-item:active, .dropdown .dropdown-menu.dropdown-default .dropdown-item.active, .dropup .dropdown-menu.dropdown-default .dropdown-item:hover, .dropup .dropdown-menu.dropdown-default .dropdown-item:active, .dropup .dropdown-menu.dropdown-default .dropdown-item.active, .dropleft .dropdown-menu.dropdown-default .dropdown-item:hover, .dropleft .dropdown-menu.dropdown-default .dropdown-item:active, .dropleft .dropdown-menu.dropdown-default .dropdown-item.active, .dropright .dropdown-menu.dropdown-default .dropdown-item:hover, .dropright .dropdown-menu.dropdown-default .dropdown-item:active, .dropright .dropdown-menu.dropdown-default .dropdown-item.active {
  background-color: #5132ff  !important;
}

#content {
  margin-top: 55px;
  position: relative;
}

.btn {
  text-transform: capitalize;
}

@media (max-width:992px) {
  #content {
      margin-left: 0px !important;
      transition: all 0.3s ease-in-out;
  }
  .side-nav{
      left: -13rem;
      transition: all 0.3s ease-in-out;
      opacity: 0;
  }
  .navbar-collapse{
      margin-top: 9px;
      background: #2701fc;
      height: 35px;
  }    
  .collapsing {
      position: unset;
      height: 0;
      overflow: unset;
      transition: all 0.1s ease-in-out;
      opacity: 0;
  }
  .navbar-nav{
      position: absolute;
      right: 10px;
  }
  .navbar-toggler{
      margin-right: -15px;
  }
  .snavbar{
      margin-left: -15px;
  }
  .snavbarx{
      display: none;
  }
}

@media (min-width:992px) {
  #content {
      margin-left: 12rem;
      transition: all 0.3s ease-in-out;
  }
.footerxxx{
  padding-left: 12rem;
  transition: all 0.3s ease-in-out;
}
  .side-nav{
      left: 0;
      transition: all 0.3s ease-in-out;
      opacity: 1;
  }
  .navbar-collapse{
      margin-top: 3px;
  }
  .snavbarx{
      display: block;
  }
}

.ssbar{
  left: 0rem;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.ssbarx {
  left: -13rem;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.contentx {
  margin-left: 0px !important;
}

.snavbarx{
  border-width: 0;
  outline: 0;
  background-color: rgba(255, 0, 0, 0);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
position: relative;
min-height: 100%;
}
body {
/* Margin bottom by footer height */
margin-bottom: 60px;
}
.footerxxx {
position: absolute;
bottom: 0;
width: 100%;
font-weight:400;
/* Set the fixed height of the footer here */
height: 60px;
line-height: 60px; /* Vertically center the text there */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.foot{
  padding-left: 0;
}

.showsbxxx{
  display: block;
  transition: all 0.9s ease-in-out;
}
.dropdown-toggle::after {
  content: unset;
}
.showsbxxx>a{
background-color: #2701fcbd !important;
color: white !important;
}
.collapsible-body a:hover{
background-color:#ff000038
}
.collapsible-body a.actives{
background-color:#ff000038
}
button:focus {
  outline: none;
  outline: none;
}
a.dropdown-item:hover{
color:white !important;
}
.dropdown-menu{
padding:4px !important
}